<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Your Locations</title>
</head>
<body>
<div class="container">
    <div class="row">
        <h1>Your Saved Locations</h1>
    </div>
    <div class="row">
        <ul>
            {% for location in locations %}
            <li>{{ location.name }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="row">
        <a href="{{ url_for('index') }}" class="btn btn-primary">Go Back</a>
    </div>
</div>
</body>
</html>
